
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Layout/AboutLayout.cshtml";
}

<div class="row" style="padding-bottom: 40px;">
    <div class="col">
        <img src="~/Content/ImageHome/1920x500-1-2.jpg" alt=" " class="img-responsive" />
    </div>
</div>

<div class="row" style="padding-bottom: 30px; font-weight: bold">
    <div class="col-md-6 ab_pic_w3ls">
        <img src="~/Content/ImageHome/about3.png" alt=" " class="img-responsive" />;
    </div>
    <div class="col-md-6 ab_pic_w3ls_text_info">
        <h1 class="primary-color" style="font-weight: bold; padding-top: 50px;"> LEMON SHOP</h1>
        <p>Máy tính Lemon - Lemon Shop là công ty hàng đầu trong lĩnh vực kinh doanh thiết bị máy tính và thiết bị số tại miền Trung.</p>
        <p>Cùng mua sắm trực tuyến tại Lemon Shop với hàng ngàn sản phẩm từ máy tính, laptop, thiết bị điện tử.. với giá ưu đãi, nhiều khuyến mãi. Trải nghiệm sản phẩm..</p>

    </div>
    <div class="clearfix"></div>
</div>


<div class="row" style="padding-bottom: 50px;">
    <div class="col ">
        <h1 class="primary-color text-center">KHUYẾN MẠI</h1>
    </div>
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome/km1.jpg" alt="">

            <h4 class="primary-color" style="padding-top: 10px;">TÔI ĐỒ HỌA – CẦM ĐỒ MÀ THI HỌA</h4>
            <p>Đến hết 20/09/2019</p>
        </a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome/km2.jpg" alt="">

            <h4 class="primary-color" style="padding-top: 10px;">CHỊ BÁO CHÍ - SẮM HÀNG NHƯ Ý</h4>
            <p>Đến hết 20/09/2019</p>
        </a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome/km3.jpg" alt="">

            <h4 class="primary-color" style="padding-top: 10px;">ANH KIẾN TRÚC - CLICK VÀO MÀ MÚC</h4>
            <p>Đến hết 20/09/2019</p>
        </a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome/km4.jpg" alt="">

            <h4 class="primary-color" style="padding-top: 10px;">EM KINH TẾ – MUA HÀNG KHÔNG Ế</h4>
            <p>Đến hết 20/09/2019</p>
        </a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome/km5.jpg" alt="">

            <h4 class="primary-color" style="padding-top: 10px;">MÀN HÌNH "ĐẠI CƯƠNG"</h4>
            <p>Đến hết 20/09/2019</p>
        </a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome/kmco6.png" alt="">

            <h4 class="primary-color" style="padding-top: 10px;">THÁNG CÔ HỒN - Ổ CỨNG ...</h4>
            <p>Đến hết 20/09/2019</p>
        </a>
    </div>
    <!-- /banner -->
</div>

<!-- row -->
<div class="row">
    <div>
        <h1 class="primary-color text-center">HOT DEAL</h1>
    </div>
    <!-- banner -->
    <div class="col-md-8">
        <div class="banner banner-1">
            <img src="~/Content/ImageHome/deal1.png" alt="">
            <div class="banner-caption text-center">
                <h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
                <button class="primary-btn">Shop Now</button>
            </div>
        </div>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome/deal2.png" alt="">
            <div class="banner-caption text-center">
                <h2 class="primary-color">SAMSUNG COLLECTION</h2>
            </div>
        </a>
    </div>
    <!-- /banner -->
    <!-- banner -->
    <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
            <img src="~/Content/ImageHome//deal3.png" alt="">
            <div class="banner-caption text-center">
                <h2 class="primary-color">MOBILE COLLECTION</h2>
            </div>
        </a>
    </div>
    <!-- /banner -->
</div>
<!-- /row -->
