
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Layout/AboutLayout.cshtml";
}


<div class="row">
    <div class="col-md-4 text-center ">
        <div class="contact-to">
            <h1 class="white-color"><i class="fa fa-map-marker" aria-hidden="true"></i></h1>
            <h2 class="text-uppercase primary-color">Địa chỉ</h2>
            <p>1 Le Van Hien Street <span>Ha Noi, Viet Nam.</span></p>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="contact-to">
            <h1 class="white-color"><i class="fa fa-phone" aria-hidden="true"></i></h1>
            <h2 class="text-uppercase primary-color">HOT LINE</h2>
            <p>+84 90 150 4149</p>
        </div>
    </div>
    <div class="col-md-4 text-center ">
        <div class="contact-to">
            <h1 class="white-color"><i class="fa fa-envelope-o" aria-hidden="true"></i></h1>
            <h2 class="text-uppercase primary-color">Email</h2>
            <p class="white-color">lemonshop@gmail.com</span></p>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>


<div class="row" style="padding-top: 30px;">
    <div class="col-lg-12">
        <div style="width: 100%">
        <iframe width="100%" height="500" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=S%E1%BB%91%201%20L%C3%AA%20V%C4%83n%20Hi%E1%BA%BFn+(Lemon%20Shop)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google Maps here</a>
        </iframe></div><br />
    </div>
</div>

<div class="row" style="padding-bottom: 20px;">
    <div class="col">
        <img src="~/Content/ImageHome/contact1.jpg" alt=" " class="img-responsive" />
    </div>
</div>

<style>
    .contact-to {
        background: #171616;
        text-align: center;
        color: #fff;
        padding: 2em 1em;
        font-weight: bold;
    }
</style>

